body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif; }

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100; }
  #mainNavbar .navbar-brand {
    color: #ea1c2c; }
  #mainNavbar .nav-link {
    color: white; }
    #mainNavbar .nav-link:hover {
      color: #ea1c2c; }

#heading-group h1 {
  font-weight: 100;
  font-size: 4rem; }
  #heading-group h1 span {
    color: red; }

@media (max-width: 1400px) {
  #heading-group h1 {
    font-size: 2.5rem; } }
