body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;

  .navbar-brand {
    color: #ea1c2c;
  }

  .nav-link {
    color: white;

    &:hover {
      color: #ea1c2c;
    }
  }
}

#heading-group {
  h1 {
    font-weight: 100;
    font-size: 4rem;

    span {
      color: red;
    }
  }
}

@media (max-width: 1400px) {
  #heading-group {
    h1 {
      font-size: 2.5rem;
    }
  }
}
