body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;

  .navbar-brand {
    color: #ea1c2c;
  }

  .nav-link {
    color: white;

    &:hover {
      color: #ea1c2c;
    }
  }
}
